.container{
  width: 50vw;
  text-align: center;
  margin: 40px auto;
  background-color: skyblue;
  border-radius: 10px;
  padding: 10px;
}
.container input{
  width: 400px;
  padding: 14px;
  border-radius: 5px;
  border-style: groove;
  margin-top: 10px;
  margin: auto;
}
.btn{
  padding: 11px 22px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #34C734;
  border: none;
  border-radius: 5px;
  color: #183950;
  font-size: 15px;
}
.info{
  font-size: 20px;
}
